.wrapper {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCard {
  position: relative;
  display: flex;
  width: 80%;
  height: 80vh;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #8f94fb 5px, transparent 5px) 0 0,
    linear-gradient(to left, #8f94fb 5px, transparent 5px) 100% 100%,
    linear-gradient(to bottom, #8f94fb 5px, transparent 5px) 0 0,
    linear-gradient(to top, #8f94fb 5px, transparent 5px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 400px 500px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  width: 100%;
  font-size: 1.5em;
  color: white;
  margin-left: 20px;
  z-index: 1;
}

.profileContainer {
  height: 100%;
  width: 400px;
}

.profile {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.accentText {
  color: #fff;
  text-shadow: -2px -2px 0 #8f94fb, 2px -2px 0 #8f94fb, -2px 2px 0 #8f94fb, 2px 2px 0 #8f94fb;
}
