.navbar {
  position: fixed;
  right: 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(to bottom left, #141c3a, 80%, rgba(0, 0, 0, 0));
  z-index: 2;
}

.link,
.link:hover,
.link:focus,
.link:active,
.link:visited {
  color: white;
  text-decoration: none;
  /* text-shadow: -0.5px 0.5px 0 white, 0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px -0.5px 0 white; */
}
