.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: white;
  background: linear-gradient(#141c3a, white);
}

.wrapper > h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 20px;
}

.wrapper > p {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 20px;
}

.projects {
  display: flex;
  padding-left: 20px;
  flex-wrap: no-wrap;
  overflow-x: auto;
  z-index: 1;
}
